/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [RushHour]    Script Date: 14-Aug-17 11:10:38 ******/
CREATE DATABASE [RushHour]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RushHour', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\RushHour.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RushHour_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\RushHour_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RushHour].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RushHour]
GO
USE [RushHour]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14-Aug-17 11:10:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 14-Aug-17 11:10:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[ActivityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Duration] [float] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Activities] PRIMARY KEY CLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentActivities]    Script Date: 14-Aug-17 11:10:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentActivities](
	[Appointment_AppointmentId] [int] NOT NULL,
	[Activity_ActivityId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AppointmentActivities] PRIMARY KEY CLUSTERED 
(
	[Appointment_AppointmentId] ASC,
	[Activity_ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 14-Aug-17 11:10:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[IsCancelled] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Appointments] PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14-Aug-17 11:10:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](60) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([ActivityId], [Name], [Duration], [Price]) VALUES (1, N'Подстригване - къса коса', 20, CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[Activities] ([ActivityId], [Name], [Duration], [Price]) VALUES (2, N'Боядисване с боя на клиента', 60, CAST(20.00 AS Decimal(18, 2)))
INSERT [dbo].[Activities] ([ActivityId], [Name], [Duration], [Price]) VALUES (3, N'Матиране', 80, CAST(25.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Activities] OFF
INSERT [dbo].[AppointmentActivities] ([Appointment_AppointmentId], [Activity_ActivityId]) VALUES (1, 1)
INSERT [dbo].[AppointmentActivities] ([Appointment_AppointmentId], [Activity_ActivityId]) VALUES (1, 2)
INSERT [dbo].[AppointmentActivities] ([Appointment_AppointmentId], [Activity_ActivityId]) VALUES (1, 4)
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentId], [StartDateTime], [EndDateTime], [UserId], [IsCancelled]) VALUES (1, CAST(N'2017-08-22T07:45:00.000' AS DateTime), CAST(N'2017-08-22T11:05:00.000' AS DateTime), 3, 0)
INSERT [dbo].[Appointments] ([AppointmentId], [StartDateTime], [EndDateTime], [UserId], [IsCancelled]) VALUES (2, CAST(N'2017-07-19T19:10:00.000' AS DateTime), CAST(N'2017-07-19T20:10:00.000' AS DateTime), 12, 0)
INSERT [dbo].[Appointments] ([AppointmentId], [StartDateTime], [EndDateTime], [UserId], [IsCancelled]) VALUES (3, CAST(N'2017-08-30T10:45:00.000' AS DateTime), CAST(N'2017-08-30T13:45:00.000' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [Password], [Name], [IsAdmin]) VALUES (2, N'liubomirwm@outlook.com', N'lyubopass', N'Administrator', 1)
INSERT [dbo].[Users] ([UserId], [Email], [Password], [Name], [IsAdmin]) VALUES (3, N'pesho@outlook.com', N'peshopass', N'Pesho', 0)
INSERT [dbo].[Users] ([UserId], [Email], [Password], [Name], [IsAdmin]) VALUES (4, N'mariika@outlook.com', N'mariikapass', N'Mariika', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Activity_ActivityId]    Script Date: 14-Aug-17 11:10:39 ******/
CREATE NONCLUSTERED INDEX [IX_Activity_ActivityId] ON [dbo].[AppointmentActivities]
(
	[Activity_ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointment_AppointmentId]    Script Date: 14-Aug-17 11:10:39 ******/
CREATE NONCLUSTERED INDEX [IX_Appointment_AppointmentId] ON [dbo].[AppointmentActivities]
(
	[Appointment_AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 14-Aug-17 11:10:39 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Appointments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Email]    Script Date: 14-Aug-17 11:10:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((0)) FOR [IsCancelled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[AppointmentActivities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppointmentActivities_dbo.Activities_Activity_ActivityId] FOREIGN KEY([Activity_ActivityId])
REFERENCES [dbo].[Activities] ([ActivityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppointmentActivities] CHECK CONSTRAINT [FK_dbo.AppointmentActivities_dbo.Activities_Activity_ActivityId]
GO
ALTER TABLE [dbo].[AppointmentActivities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppointmentActivities_dbo.Appointments_Appointment_AppointmentId] FOREIGN KEY([Appointment_AppointmentId])
REFERENCES [dbo].[Appointments] ([AppointmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppointmentActivities] CHECK CONSTRAINT [FK_dbo.AppointmentActivities_dbo.Appointments_Appointment_AppointmentId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Appointments_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_dbo.Appointments_dbo.Users_UserId]
GO
USE [master]
GO
